<ion-header class="header">
  <ion-button class="header--button" shape="round" (click)="redirectToHome()">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
  <label>Edite o usuário</label>
</ion-header>

<ion-content class="ion-padding">
  <div class="user--form">
    <div class="input">
      <label>Nome:</label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </div>

    <div class="input">
      <label>Email:</label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </div>

    <div class="input">
      <label>Permissão:</label>
      <ion-select
          placeholder="Selecione a permissão:"
          [value]="user.role"
      >
        <ion-select-option [value]="role.USER">{{ translatedRole[role.USER] }}</ion-select-option>
        <ion-select-option [value]="role.ADMIN">{{ translatedRole[role.ADMIN] }}</ion-select-option>
      </ion-select>
    </div>

    <ion-button (click)="onSubmit()">Enviar</ion-button>
  </div>
</ion-content>