/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

*{
  font-family: Roboto, serif;
}


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf');
  font-weight: 600;
}


.input {
  border: .1rem solid;
  padding: .3rem 0.5rem;
  border-radius: 1rem;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background: var(--primary-color);
  height: 15vh;
  color: white;

  &--button {
    position: absolute;
    left: 0;
    --background: #3c763c;
  }
}

ion-datetime {
  border-radius: 2rem;
  --background: var(--primary-color);
  --background-rgb: 60, 118, 60;
  --wheel-highlight-background: var(--ion-color-primary);
  --wheel-highlight-border-radius: 4rem;
  --wheel-fade-background-rgb: 60, 118, 60;
}

ion-datetime::part(wheel-item) {
  color: white;
}

ion-datetime::part(wheel-item active) {
  color: white;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}